dash
flake8-docstrings
pandas
pip-api
pip-chill
pipreqs
pytest-black
pytest-cov
pytest-flake8
pytest-isort
pytest-mypy
pytest-randomly
pytest-xdist
# apipkg # Installed as dependency for execnet
# appdirs # Installed as dependency for black
# attrs # Installed as dependency for pytest, pytest-mypy
# black # Installed as dependency for pytest-black
# brotli # Installed as dependency for flask-compress
# certifi # Installed as dependency for requests
# chardet # Installed as dependency for requests
# click # Installed as dependency for flask, black
# coverage # Installed as dependency for pytest-cov
# dash-core-components # Installed as dependency for dash
# dash-html-components # Installed as dependency for dash
# dash-renderer # Installed as dependency for dash
# dash-table # Installed as dependency for dash
# docopt # Installed as dependency for pipreqs
# execnet # Installed as dependency for pytest-xdist
# filelock # Installed as dependency for pytest-mypy
# flake8 # Installed as dependency for flake8-docstrings, pytest-flake8
# flask # Installed as dependency for dash, flask-compress
# flask-compress # Installed as dependency for dash
# future # Installed as dependency for dash
# idna # Installed as dependency for requests
# iniconfig # Installed as dependency for pytest
# isort # Installed as dependency for pytest-isort
# itsdangerous # Installed as dependency for flask
# jinja2 # Installed as dependency for flask
# markupsafe # Installed as dependency for jinja2
# mccabe # Installed as dependency for flake8
# mypy # Installed as dependency for pytest-mypy
# mypy-extensions # Installed as dependency for mypy, black
# numpy # Installed as dependency for pandas
# packaging # Installed as dependency for pytest
# pathspec # Installed as dependency for black
# plotly # Installed as dependency for dash
# pluggy # Installed as dependency for pytest
# py # Installed as dependency for pytest-forked, pytest
# pycodestyle # Installed as dependency for flake8
# pydocstyle # Installed as dependency for flake8-docstrings
# pyflakes # Installed as dependency for flake8
# pyparsing # Installed as dependency for packaging
# pytest # Installed as dependency for pytest-randomly, pytest-forked, pytest-black, pytest-mypy, pytest-xdist, pytest-flake8, pytest-cov
# pytest-forked # Installed as dependency for pytest-xdist
# python-dateutil # Installed as dependency for pandas
# pytz # Installed as dependency for pandas
# regex # Installed as dependency for black
# requests # Installed as dependency for yarg
# retrying # Installed as dependency for plotly
# six # Installed as dependency for python-dateutil, retrying, plotly
# snowballstemmer # Installed as dependency for pydocstyle
# toml # Installed as dependency for pytest-black, pytest, black
# typed-ast # Installed as dependency for mypy, black
# typing-extensions # Installed as dependency for mypy, black
# urllib3 # Installed as dependency for requests
# werkzeug # Installed as dependency for flask
# yarg # Installed as dependency for pipreqs
